.services {
  background: var(--gradient-blue);
  width: auto;
  justify-content: center;
  display: flex;
  height: auto;
  .wrapper {
    &__title {
      padding: 72px 0;
      margin-bottom: 0;
    }
    &__row {
      width: 100%;
      padding: 0 !important;
      margin: 0 !important;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      &__col-md-6 {
        padding: 0;
        width: 50%;
        margin-bottom: 64px;
        &:nth-child(even) {
          padding-left: 32px;
        }
        &:nth-child(odd) {
          padding-right: 32px;
        }
      }
    }
    .custom-card {
      .card-option-button {
        height: 580px;
      }
    }
  }
}
