.data-engineering {
    &__banner {
        height: 100vh;
        width: 100%;
        justify-content: center;
        position: relative;
        color: #fff;
        overflow: hidden;
    }
    
    &__skill {
        padding: 120px 0;
    }
}

.business-intelligence {
    .row {
        margin: 0;
    }
}