.category-card {
  height: 100% !important;
  background-color: var(--white);
  width: 100%;
  padding: 0;
  border: none !important;
  border-radius: 25px !important;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  //   &__creator {
  //     width: 100%;
  //     display: flex;
  //     flex-wrap: wrap;
  //     padding: 0 0 12px 0;
  //     &__name {
  //       max-width: 50%;
  //       display: flex;
  //       text-align: center;
  //       align-items: center;
  //     }
  //     &__pic {
  //       max-width: 50%;
  //       padding-right: 24px;

  //       .pic {
  //         // max-width: 50%;
  //         max-height: 50px;
  //         border-radius: 25px;
  //       }
  //     }
  //   }
  &__top-thumbnail {
    height: 272px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;

    .card-img-top {
      border-top-left-radius: 25px !important;
      border-top-right-radius: 25px !important;
      border: none;
      object-fit: cover;
      height: 272px;
      flex-shrink: 0;
      width: 100%;
    }

    .default-thumbnail {
      object-fit: contain !important;
      background-color: var(--black-blue);
      max-width: 300px;
    }
  }
  &__body {
    position: relative;
    height: 100%;
    width: auto;
    padding: 0;
    &__title {
      text-align: center;
      padding: 24px 24px 0;
      .text_align {
        text-align: left;
      }
    }
    &__sub-title {
      text-align: left;
      padding: 0 0 0 24px;
    }
    &__description {
      width: 100%;
      height: 171px;
      padding: 24px 24px 0;
      margin-bottom: 80px;
    }
  }
}

.bottom-card {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .card-link {
    width: 100%;
    padding: 0 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    & a {
      color: var(--black-blue-link-card);
    }
    &__custom {
      color: var(--black-blue);
      border-color: var(--black-blue);
    }
  }
}

.change-bg {
  background-color: var(--black-blue) !important;
}

.img-link {
  width: 100%;
}

.btn-outline-primary {
  text-align: center;
  width: 176px;
  height: 48px;
  font-size: inherit !important;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-outline-primary:hover {
  background-color: var(--black-blue) !important;
  color: var(--white) !important;
  text-decoration: none !important;
}
