.core-value {
  .row {
    .col-custom {
      margin-bottom: var(--mg-xl);
      padding: 0;
      &:nth-child(even) {
        padding-left: 32px;
      }
      &:nth-child(odd) {
        padding-right: 32px;
      }
    }
  }
}
