.col-md-6 {
    &__h2-title {
        margin-bottom: 24px;
    }
    &__h3-title {
        margin-bottom: 24px;
    }
    &__pic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        &__img {
            width: 100%;
            max-width: 400px;
            height: 100%;
        }
    }
}
